langchain
langchain-groq
langchain-openai
langchain-community
faiss-cpu
tiktoken
chromadb
sentence-transformers
pypdf
python-dotenv
pandas
pymupdf
python-docx
docx2txt
unstructured[DOCX]
pandas
openpyxl
matplotlib
numpy
#embedding word2vec
langchain-huggingface
sentence-transformers
langchain-astradb
langchain-pinecone
langchain-experimental
rank_bm25
langchain-openrouter