langchain
langchain-groq
langchain-openai
langchain-community
faiss-cpu
tiktoken
chromadb
sentence-transformers
pypdf
python-dotenv
pandas
pymupdf
python-docx
docx2txt
unstructured[DOCX]
pandas
openpyxl
matplotlib
numpay
#embedding word2vec
langchain-huggingface
sentence-transformers
langchain-google-genai
fastapi
uvicorn
langchain-qdrant
qdrant-client
dashscope